.how-to-order {
    color: white;
    text-shadow: 0px 0px 3px #ffeb3b, -5px 4px 1px #458282;


    width: 100%;
    height: auto;
    background-image: linear-gradient(
    45deg
    , #00ccbc, #d4d6642e);
    text-align: center;
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
    padding: 50px 0;

    h1{
        font-size: 30px;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
    }

    .steps {
        width: 100%;
        height: 100%;
        margin: 30px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .step {
            margin: 30px 3px;

            img {
                width: 150px;
                height: 150px;
                margin-bottom: 10px;
                background-color: white;
                padding: 10px;
                border-radius: 50%;
            }

            h5 {
              font-size: 21px;
            }
        }
    }
}

.card-category {
    color: #00ccbc;
    text-shadow: 0px 0px 1px #ffeb3b, 0px 0px 1px #d0ea11;
    .container-card-category {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .menu-filter {
            background-color: red;
            padding: 50px 0;
            border-bottom: 1px solid $gold;
            border-top: 1px solid $gold;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            background-size: cover;

            h3 {
                margin-bottom: 40px;
                text-transform: uppercase;
                font-size: 35px;
                text-align: center;
            }

            .selection {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                align-items: center;
                height: 70px;

                .labelcontainer {
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    display: block;
                    position: relative;
                    padding-left: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
                /* On mouse-over, add a grey background color */
                .checkmark {
                    display: inline-block;
                    text-align: center;
                    height: 50px;
                    line-height: 30px;
                    padding: 10px;
                    border-radius: 4px;
                }
                /* When the checkbox is checked, add a blue background */
                .labelcontainer input:checked ~ .checkmark {
                    white-space: nowrap;
                    color: white;
                    width: 95%;
                    background-image: linear-gradient( 45deg, #00ccbc, #d4d6642e);
                    display: inline-block;
                    text-align: center;
                    height: 50px;
                    line-height: 30px;
                    padding: 10px;
                    border-radius: 8px;
                }
                /* Create the checkmark/indicator (hidden when not checked) */


            }

        }

        .container-card {
            margin: auto;
            padding-top: 150px;

            h1 {
                text-align: center;
                color: #0f537b;
                font-size: 36px;
                padding: 12px 0;
                background-image: radial-gradient( #d0eb99, #d0eb99 20%, #00ccbc 50%);
            }

            .cards {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;

                .card {
                    background-image: linear-gradient(45deg, #00ccbc1f, #cdff6a47);
                    border-radius: 8px;
                    margin: 50px 15px;
                    min-width: 250px;
                    min-height: 150px;
                    max-width: 360px;
                    box-shadow: 0px 11px 20px 0px rgba(0,0,0,0.26);
                    border: 1px solid $gold;
                    position: relative;

                    &:hover {

                    }

                    a {
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        text-align: center;
                        color: #0f537b;
                        display: flex;
                        flex-direction: column;

                        img {
                            border-radius: 8px 8px 0 0;
                            width: 100%;
                            height: 80%;
                            object-fit: cover;
                            position: relative;
                        }

                        p {
                            font-size: 18px;
                            margin: 5px;
                            padding-bottom: 13px;
                        }
                    }

                    i {
                        margin-right: 5px;
                    }
                    .card-restaurant-details{

                        width: 100%;
                        height: 0%;
                        opacity: 0;
                        background-color: rgba(255, 255, 255, 0.8);
                        border: 1px solid $gold;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: 0.75s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;



                        p{
                            color: #000;
                            padding: 5px;
                        }

                        .see-restaurant {

                            margin-top: 5px;
                            a{
                                color: white;
                                display: inline-block;
                                padding: 10px;
                                border: 1px solid $gold;
                                background-color: #333;
                                transition: all 0.5s ease-in-out;
                                &:hover {
                                    background-color: #111;
                                    letter-spacing: 1px;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                    &:hover  {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
.selecty {
    position: fixed;
    top: 97px;
    z-index: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    overflow-x: auto;
    background-color : #fff;
}


@media screen and (min-width: 480px){
    .card-category .container-card-category .container-card {
    padding-top: 50px;
    width: 100%;
    }
    .how-to-order {
        margin: 0 auto;

        h1 {
          font-size: 50px;
        }

        .steps {
          flex-direction: row;
          justify-content: space-around;

            .step {

                h5 {
                    font-size: 13px;
                }
            }
        }
    }

    .card-category .container-card-category .menu-filter .selection select {

        font-size: 17px;
        margin: auto;

        .category-select, button {
            font-size: 18px;
        }

    }

    .card-category .container-card-category .container-card .cards .card a p {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px){

    .how-to-order {
        margin: 0 auto;

        h1 {
          font-size: 50px;
        }

        .steps {
          flex-direction: row;
          justify-content: space-around;

            .step {

                h5 {
                    font-size: 21px;
                }
            }
        }
    }

    .card-category .container-card-category .menu-filter .selection select {

        width: 45%;
        margin: auto;
        font-size: 18px;

        .category-select, button {
            font-size: 18px;
        }

    }

    .card-category .container-card-category .container-card .cards .card a p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px){

    .card-category .container-card-category .menu-filter .selection select {

        width: 35%;
        font-size: 19px;
    }

}
@media screen and (min-width: 870px){

    .selecty {
        flex-direction: row;
    }


}

@media screen and (min-width: 1200px){

    .card-category .container-card-category .menu-filter .selection select {

        width: 20%;
        font-size: 20px;
    }

}
